.fs-48{
	font-size: 48px;
}
.fs-20{
	font-size: 20px;
}

.tour-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.fs-22{
	font-size: 22px;
}
.fs-13{
	font-size: 13px;
}
.fs-24{
	font-size: 24px;
}
.fs-28{
	font-size: 28px;
}
.fs-12{
	font-size: 12px;
}
.fs-35{
	font-size: 35px;
}
.h-30{
	height: 30px;
}
.h-200{
	height: 200px;
}
.h-500{
	height: 500px;
}
.h-400{
	height: 400px;
}
.h-410{
	height: 410px;
}
/*SM*/
@media (min-width: 576px) {
	
}
/*md*/
@media (min-width: 768px) {
 
}
/*lg*/
@media (min-width: 992px) {
	.fs-lg-40{
		font-size: 40px;
	}
	.fs-lg-50{
		font-size: 50px;
	}
	.fs-lg-63{
		font-size: 63px;
	}
	.fs-lg-30{
		font-size: 30px;
	}
	.fs-lg-70{
		font-size: 70px;
	}
	.fs-lg-20{
		font-size: 20px;
	}
	.fs-lg-34{
		font-size: 34px;
	}
	.fs-lg-37{
		font-size: 37px;
	}
	.fs-lg-13{
		font-size: 13px;
	}
	.fs-lg-15{
		font-size: 15px;
	}
	.fs-lg-18{
		font-size: 18px;
	}
	.fs-lg-150{
		font-size: 150px;
	}
	.h-lg-933{
		height: 933px; 
	}
	.h-lg-700{
		height: 700px;
	}
	.h-lg-800{
		height: 800px;
	}
	.h-lg-30{
		height: 30px;
	}
	.h-lg-230{
		height: 230px;
	}

	.h-lg-410{
		height: 410px;
	}
	
}

/*xl*/
@media (min-width: 1200px) {

}